---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.stateless-pg.io
  resources:
  - neonclusters
  - pageserverprofiles
  - pageservers
  - safekeeperprofiles
  - safekeepers
  - storagebrokerprofiles
  - storagebrokers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.stateless-pg.io
  resources:
  - neonclusters/finalizers
  - pageserverprofiles/finalizers
  - pageservers/finalizers
  - safekeeperprofiles/finalizers
  - safekeepers/finalizers
  - storagebrokerprofiles/finalizers
  - storagebrokers/finalizers
  verbs:
  - update
- apiGroups:
  - core.stateless-pg.io
  resources:
  - neonclusters/status
  - pageservers/status
  - safekeepers/status
  - storagebrokers/status
  verbs:
  - get
  - patch
  - update
